# Backend Environment Variables
DATABASE_URL='postgresql://neondb_owner:npg_CocBL9TKA7FW@ep-rough-resonance-ahtvp351-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
JWT_SECRET_KEY=er43t4wt34y35sfsdfji67y43t2wgeyw5u56w3ygry5ye4wbvc
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# Frontend Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:8000