# Backend Environment Variables
DATABASE_URL='your_database_url_here'
JWT_SECRET_KEY=your_secret_key_here_use_long_random_string
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# Frontend Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:8000